.common__container {
    padding-top: 2rem;
}

.vj-detail__container {
    display: grid;
    grid-template-columns: 60px 20px 60px 300px;
    align-items: center;
    row-gap: 6px;
}

.vj-detail__call {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 0.9;
}

.vj-detail__call__departure {
    justify-self: right;
}

.vj-detail__call__thermometer {
    justify-self: center;
}

.vj-detail__call--delayed {
    text-decoration: line-through;
    color: darkred;
}

.vj-detail__call--updated {
    color: darkgreen;
}
