<li> De <em>{{vj.origin}}</em> vers <em>{{vj.destination}}</em>
    <div class="vj-detail__container">
        {% for c in vj.estimated_calls %}
            <div class="vj-detail__call">
                {% if c.aimed_arrival_time is defined %}
                    {% if c.expected_arrival_time is defined %}
                        <div class="vj-detail__delayed">{{c.aimed_arrival_time}}</div>
                        <div>{{c.expected_arrival_time}}</div>
                    {% endif %}
                {% endif %}

            </div>
            {% endfor %}
        </ul>
    </div>
</li>
